import(jaspBase)
export(principalComponentAnalysisInternal)
export(exploratoryFactorAnalysisInternal)
export(confirmatoryFactorAnalysisInternal)
export(principalComponentAnalysis)
export(exploratoryFactorAnalysis)
export(confirmatoryFactorAnalysis)

